<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="HostAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" type="log4net.Util.PatternString" value="E:\ETMallWebLog\%date{yyyyMM}\log_Host_%env{COMPUTERNAME}_%date{yyyyMMdd}.log"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="Encoding" value="UTF-8"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Size"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <param name="MaximumFileSize" value="30MB"/>
    <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <converter>
        <name value="requestQueryString" />
        <type value="ETMall.Common.Utility.Logger.RequestQueryStringPatternConverter" />
      </converter>
      <converter>
        <name value="url" />
        <type value="ETMall.Common.Utility.Logger.UrlPatternConverter" />
      </converter>
      <converter>
        <name value="ip" />
        <type value="ETMall.Common.Utility.Logger.IPPatternConverter" />
      </converter>
      <converter>
        <name value="machine" />
        <type value="ETMall.Common.Utility.Logger.MachinePatternConverter" />
      </converter>
      <converter>
        <name value="logID" />
        <type value="ETMall.Common.Utility.Logger.LogIDPatternConverter" />
      </converter>
      <converter>
        <name value="requestHeaders"/>
        <type value="ETMall.Common.Utility.Logger.RequestHeadersPatternConverter" />
      </converter>
      <converter>
        <name value="extendLogData" />
        <type value="ETMall.Common.Utility.Logger.ExtendDataPatternConverter" />
      </converter>
      <conversionPattern value="&lt;Log&gt;
                                %n&lt;Logtime&gt;%date{yyyy/MM/dd HH:mm:ss}&lt;/Logtime&gt;
                                %n&lt;Level&gt;%level&lt;/Level&gt;
                                %n&lt;Logger&gt;%logger&lt;/Logger&gt;                      
                                %n&lt;LogID&gt;%logID&lt;/LogID&gt; 
                                %n&lt;IP&gt;%ip&lt;/IP&gt;   
                                %n&lt;HttpURL&gt;&lt;![CDATA[%url%]]&gt;&lt;/HttpURL&gt; 
                                %n&lt;Headers&gt;%requestHeaders&lt;/Headers&gt; 
                                %n&lt;QueryParams&gt;&lt;![CDATA[%requestQueryString%]]&gt;&lt;/QueryParams&gt;
                                %n&lt;Machine&gt;%machine&lt;/Machine&gt;
                                %n&lt;Message&gt;&lt;![CDATA[%message%]]&gt;&lt;/Message&gt;     
                                %n&lt;Exception&gt;%exception&lt;/Exception&gt;
                                %n&lt;ExtendLogData&gt;%extendLogData&lt;/ExtendLogData&gt;
                                %n&lt;/Log&gt;%n%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>

  <appender name="NormalAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" type="log4net.Util.PatternString" value="C:\ETMallWebLog\%date{yyyyMM}\log_Normal_%env{COMPUTERNAME}_%date{yyyyMMdd}.log"/>
    <param name="StaticLogFileName" value="false"/>
    <param name="Encoding" value="UTF-8"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Size"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <param name="MaximumFileSize" value="30MB"/>
    <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <converter>
        <name value="logID" />
        <type value="ETMall.Common.Utility.Logger.LogIDPatternConverter" />
      </converter>
      <converter>
        <name value="extendLogData" />
        <type value="ETMall.Common.Utility.Logger.ExtendDataPatternConverter" />
      </converter>
      <converter>
        <name value="machine" />
        <type value="ETMall.Common.Utility.Logger.MachinePatternConverter" />
      </converter>
      <conversionPattern value="&lt;Log&gt;
                                %n&lt;Machine&gt;%machine&lt;/Machine&gt;
                                %n&lt;Logtime&gt;%date{yyyy/MM/dd HH:mm:ss}&lt;/Logtime&gt;
                                %n&lt;Level&gt;%level&lt;/Level&gt;
                                %n&lt;Logger&gt;%logger&lt;/Logger&gt;
                                %n&lt;LogID&gt;%logID&lt;/LogID&gt; 
                                %n&lt;Message&gt;&lt;![CDATA[%message%]]&gt;&lt;/Message&gt;    
                                %n&lt;Exception&gt;%exception&lt;/Exception&gt;
                                %n&lt;ExtendLogData&gt;%extendLogData&lt;/ExtendLogData&gt;
                                %n&lt;/Log&gt;%n%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>

  <appender name="HostBlobAppender" type="ETMall.Common.Azure.Storage.Logger.AzureRollingBlobAppender">
    <param name="ContainerName" value="MWeb"/>
    <param name="DirectoryName" value="logs"/>
    <param name="DirectoryDateParition" value="/yyyy/MMdd"/>
    <param name="FileName" type="log4net.Util.PatternString" value="log_Host_%env{COMPUTERNAME}.log"/>
    <param name="FileDatePartition" value="_yyyyMMdd_HH"/>
    <param name="ConnectionStringName" value="BlobStorage"/>
    <bufferSize value="1" />

    <layout type="log4net.Layout.PatternLayout">
      <converter>
        <name value="requestQueryString" />
        <type value="ETMall.Common.Utility.Logger.RequestQueryStringPatternConverter" />
      </converter>
      <converter>
        <name value="url" />
        <type value="ETMall.Common.Utility.Logger.UrlPatternConverter" />
      </converter>
      <converter>
        <name value="ip" />
        <type value="ETMall.Common.Utility.Logger.IPPatternConverter" />
      </converter>
      <converter>
        <name value="machine" />
        <type value="ETMall.Common.Utility.Logger.MachinePatternConverter" />
      </converter>
      <converter>
        <name value="logID" />
        <type value="ETMall.Common.Utility.Logger.LogIDPatternConverter" />
      </converter>
      <converter>
        <name value="requestHeaders"/>
        <type value="ETMall.Common.Utility.Logger.RequestHeadersPatternConverter" />
      </converter>
      <converter>
        <name value="extendLogData" />
        <type value="ETMall.Common.Utility.Logger.ExtendDataPatternConverter" />
      </converter>
      <conversionPattern value="&lt;Log&gt;
                                %n&lt;Logtime&gt;%date{yyyy/MM/dd HH:mm:ss}&lt;/Logtime&gt;
                                %n&lt;Level&gt;%level&lt;/Level&gt;
                                %n&lt;Logger&gt;%logger&lt;/Logger&gt;                      
                                %n&lt;LogID&gt;%logID&lt;/LogID&gt; 
                                %n&lt;IP&gt;%ip&lt;/IP&gt;   
                                %n&lt;HttpURL&gt;&lt;![CDATA[%url%]]&gt;&lt;/HttpURL&gt; 
                                %n&lt;Headers&gt;%requestHeaders&lt;/Headers&gt; 
                                %n&lt;QueryParams&gt;&lt;![CDATA[%requestQueryString%]]&gt;&lt;/QueryParams&gt;
                                %n&lt;Machine&gt;%machine&lt;/Machine&gt;
                                %n&lt;Message&gt;&lt;![CDATA[%message%]]&gt;&lt;/Message&gt;     
                                %n&lt;Exception&gt;%exception&lt;/Exception&gt;
                                %n&lt;ExtendLogData&gt;%extendLogData&lt;/ExtendLogData&gt;
                                %n&lt;/Log&gt;%n%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>

  <appender name="NormalBlobAppender" type="ETMall.Common.Azure.Storage.Logger.AzureRollingBlobAppender">
    <param name="ContainerName" value="MWeb"/>
    <param name="DirectoryName" value="logs"/>
    <param name="DirectoryDateParition" value="/yyyy/MMdd"/>
    <param name="FileName" type="log4net.Util.PatternString" value="log_Normal_%env{COMPUTERNAME}.log"/>
    <param name="FileDatePartition" value="_yyyyMMdd_HH"/>
    <param name="ConnectionStringName" value="BlobStorage"/>
    <bufferSize value="100" />

    <layout type="log4net.Layout.PatternLayout">
      <converter>
        <name value="logID" />
        <type value="ETMall.Common.Utility.Logger.LogIDPatternConverter" />
      </converter>
      <converter>
        <name value="extendLogData" />
        <type value="ETMall.Common.Utility.Logger.ExtendDataPatternConverter" />
      </converter>
      <converter>
        <name value="machine" />
        <type value="ETMall.Common.Utility.Logger.MachinePatternConverter" />
      </converter>
      <conversionPattern value="&lt;Log&gt;
                                %n&lt;Machine&gt;%machine&lt;/Machine&gt;
                                %n&lt;Logtime&gt;%date{yyyy/MM/dd HH:mm:ss}&lt;/Logtime&gt;
                                %n&lt;Level&gt;%level&lt;/Level&gt;
                                %n&lt;Logger&gt;%logger&lt;/Logger&gt;
                                %n&lt;LogID&gt;%logID&lt;/LogID&gt; 
                                %n&lt;Message&gt;&lt;![CDATA[%message%]]&gt;&lt;/Message&gt;    
                                %n&lt;Exception&gt;%exception&lt;/Exception&gt;
                                %n&lt;ExtendLogData&gt;%extendLogData&lt;/ExtendLogData&gt;
                                %n&lt;/Log&gt;%n%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>

  <logger name="HostLogger">
    <level value="ALL" />
    <appender-ref ref="HostAppender" />
    <!--<appender-ref ref="HostBlobAppender" />-->
  </logger>

  <logger name="NormalLogger">
    <level value="ALL" />
    <appender-ref ref="NormalAppender" />
    <!--<appender-ref ref="NormalBlobAppender" />-->
  </logger>
</log4net>
